<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Konsultasi Dokter</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-3 mb-4"><%= title %></h1>

      <table class="table">
        <thead>
          <tr class="table-dark text-center">
            <th scope="col">id</th>
            <th scope="col">Nama</th>
            <th scope="col">artikel</th>
            <th scope="col">Aksi</th>

          </tr>
        </thead>
        <tbody>
          <% for (let user of users) { %>
          <tr class="table-secondary ">
            <th scope="row"><%= user.id %></th>
            <th scope="row"><%= user.penyakit %></th>
            <th scope="row"><%= user.artikel %></th>
            <th scope="row">
                <a class="btn btn-warning" href="/edit/<%= user.id %>">Edit</a
                ><a class="btn btn-danger mt-3" href="/delete/<%= user.id %>">
                  Hapus</a
                >
              </th>
          </tr>

          <% } %>
        </tbody>
      </table>
      <form action="/tambahArtikel" method="POST">
        <h4 class="text-center m-5">Tambah Artikel</h4>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            name="penyakit"
          />
          <label for="floatingInput">Gejala / Penyakit</label>
        </div>

        <div class="form-floating">
          <textarea
            class="form-control"
            id="floatingTextarea2"
            style="height: 200px"
            name="artikel"
          ></textarea>
          <label for="floatingTextarea2">Article</label>
        </div>

        <div class="d-flex justify-content-evenly">
          <input type="submit" class="btn btn-success" value="Tambahkan" />
          <a class="btn btn-primary btn-lg" href="/" role="button">Kembali</a>
        </div>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</htm